html,body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    border-radius: 15px;
    background-color: rgb(255, 253, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(88, 71, 71);
}

.card:hover{
    transform: scale(1.03) ;
}